* {cursor: none;}

body {
  background-color: #000;
  font-family: 'Lato';
  color: #FFFFFF;
}

.video-bounds {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.text-container {
}

.lyrics-container {
  font-weight: 300;
  font-size: 50px;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.dot {
  opacity: 0.8;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -100px;
  top: 31px;
  background-repeat: no-repeat;
  background-image: url('../mallows_all-c.png');
  background-size: contain;
  background-position: right center;
  z-index: -100;
  transform-origin: center center;
}

.mallow-red {
  background-image: url('../mallows_red-c.png');
}

.mallow-blue {
  background-image: url('../mallows_blue-c.png');
}

.mallow-orange {
  background-image: url('../mallows_orange-c.png');
}

.mallow-yellow {
  background-image: url('../mallows_yellow-c.png');
}

.mallow-green {
  background-image: url('../mallows_green-c.png');
}

.mallow-purple {
  background-image: url('../mallows_purple-c.png');
}

.mallow-silver {
  background-image: url('../mallows_silver-c.png');
}

.mallow-pink {
  background-image: url('../mallows_pink-c.png');
}

.text-line {
  opacity: 1;
  padding: 0 40px 6px;
  line-height: 80px;
  border-radius: 5px;
}

.text-line span {
  padding: 0 10px 6px;
  border-radius: 5px;
}

.highlight {
  opacity: 1;
  font-weight: 600;
}

.sc-mallow {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  left: 0;
  transition: 0.2s all;
}

.size-1 {
}

.size-2 {
}

.size-3 {
}
